[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
phasorpy = {extras = ["all"], version = "*"}
lfdfiles = "*"
sdtfile = "*"
ptufile = "*"
tiffile = "*"
napari = {extras = ["all"], version = "*"}
flimlib = "*"

[dev-packages]

[requires]
python_version = "3.12"
